.modal-backdrop{
  position:fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 40%;
  padding: 10px;
  border-radius: 8px;
}

.modal-winner{
  background-color: rgb(3, 92, 3);
}

.modal-loser {
  background-color: rgb(158, 3, 3);
}

.modal-message {
  color: white;
  font-size: 40px;
}

.modal-btn {
  padding: 20px 60px;
  font-size: 20px;
  background: rgb(32, 35, 45);
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}
