<!-- <h3>{{selectedWord}}</h3> -->
<div class="container">
  <div class="left-container">
    <h1>{{ title }}</h1>
    <div class="input-container">
      <div class="input-item" *ngFor="let letter of viewLetters; let i = index">
        <input
          [disabled]="userLetters[i] !== ''"
          type="text"
          maxlength="1"
          (change)="setLetter($event, i)"
          [(ngModel)]="userLetters[i]"
          />
      </div>
    </div>
<div>
  <h4>Te quedan {{helpCounter}} segundos para recibir una ayuda</h4>
</div>
    <div class="error-counter">
      <h2>Errores: {{ errorCounter }}</h2>
      <p>{{userInputFailed}}</p>
    </div>
  </div>
  <div class="right-container">
    <hangman [error-counter]="errorCounter"></hangman>
  </div>
</div>

<modal
  [type]="modal.type"
  [message]="modal.message"
  (on-close)="closeModal()"
  *ngIf="modal.show === true"
></modal>
